@import '{zurb:foundation-sites}/scss/foundation';
@include foundation-everything;
@include foundation-slider;

.button {
    background-color: #be0000;
    width: 100%;
}

.button-group.radius li {
    width: 50%;
}

.button-group.radius a {
    width: 100%;
    font-size: 2.5em;
}


.slider-handle {
  background-color: #5d0234;
}
