* {
-webkit-touch-callout: none;
-moz-touch-callout: none;
-ms-touch-callout: none;
touch-callout: none;
}
* {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input {
-webkit-user-select: auto !important;
-khtml-user-select: auto !important;
-moz-user-select: auto !important;
-ms-user-select: auto !important;
user-select: auto !important;
}

.button {
    background-color: #be0000;
    width: 100%;
}

.button-group.radius li {
    width: 50%;
}

.button-group.radius a {
    width: 100%;
    font-size: 2.5em;
}


.slider-handle {
  background-color: #5d0234;
}
