/* CSS declarations go here */
* {
    padding: 0px;
    margin: 0px;
}

.body {
    max-height: 100vh;
}

.hide {
  display: none;
}

.tab-bar {
    height: 7vh;
}

.content {
    width: 100%;
    height: 93vh;
    overflow: hidden;
}

/* Row Reights */
.col-1 {
    height: 10vh;
}

.col-2 {
    height: 20vh;
}

.col-3 {
    height: 30vh;
}


/*.col-3>.single {
    margin-top: 3em;
    font-size: 6vw;
}*/

.col-3>.button:first-child {
    margin-top: 1em;
    font-size: 6vw;
}

.bottom_row>.button {
    height: 17vh;
    font-size: 6vw;
}

.col-4 {
    height: 40vh;
    font-size: 6vw;
}

.col-4>#love {
    margin-top: .75em;
}

.col-5 {
    height: 50vh;
}

.col-5 input {
    margin: auto;
    width: 90%;
}

.col-5 h3 {
    margin:auto;
    width: 90%;
}

.col-5>.scanIt {
    margin-top: 2em;
    height: 25vh;
    font-size: 10vw;
    vertical-align: middle;

}


.col-6 {
    height: 60vh;
}

.col-7 {
    height: 70vh;
    overflow: scroll;
}

.col-8 {
    height: 80vh;
}

.col-9 {
    height: 90vh;
}

.col-10 {
    height: 100vh;
    overflow: scroll;
}

ul .button {
    margin: auto;
    margin-left: 15%;
    margin-top: 7.5vh;
    height: 10vh;
    width: 20vh;
}

.scanner {
    font-size: 40vw;
}

/*Atomic Colors*/
.bg_cream {
    background-color: #909090;
}

.bg_purple {
    background-color: #212121;
}

.bg_white {
    background-color: #FFFFFF;
}

.text_white {
    color: #FFFFFF;
}

.radius {
    width: 100;
}

.sidebarfield {
    box-sizing: border-box;
    border-bottom: 1px solid #cfc39b;
}

.sidebarText {
    color: #FFFFFF;
    font-size: 1.5em;
}

.wine_search_box {
    margin-top: .5em;
    box-sizing: border-box;
    outline: 3px solid black;
}

.wine_search_box > p {
    color: #dee1f0;
}