/* CSS declarations go here */
* {
    padding: 0px;
    margin: 0px;
}

.body {
    max-height: 100vh;
}

.hide {
  display: none;
}

.tab-bar {
    height: 7vh;
}

.content {
    width: 100%;
    height: 93vh;
    overflow: hidden;
}

/* Row Reights */
.col-1 {
    height: 10vh;
}

.col-2 {
    height: 20vh;
}

.col-3 {
    height: 30vh;
}


.col-3>.single {
    margin-top: 3em;
}

.col-3>.button:first-child {
    margin-top: 1em;
}

.col-4 {
    height: 40vh;
}

.col-5 {
    height: 50vh;
}

.col-5>.scanIt {
    margin-top: 5em;
    height: 25vh;
}


.col-6 {
    height: 60vh;
}

.col-7 {
    height: 70vh;
}

.col-8 {
    height: 80vh;
}

.col-9 {
    height: 90vh;
}


.col-4>#love {
    margin-top: .75em;
}





/*Atomic Colors*/
.bg_cream {
    background-color: #cfc39b;
}

.bg_purple {
    background-color: #0e0c11;
}

.bg_white {
    background-color: #dee1f0;
}

.text_white {
    color: #dee1f0;
}