 CSS declarations go here */
* {
    padding: 0px;
    margin: 0px;
}

html, body {
    max-height: 100vh;
    overflow: hidden;
}

.full-length {
    height: 85vh;
}

.hide {
  display: none;
}

.tab-bar {
    height: 15vh;
}

#pageDisplay>.tab-bar {
    height: 10vh;
}

.content {
    width: 100%;
    height: 100vh;
    /*overflow: hidden;*/
}

/* Row Reights */
.col-1half {
    height: 2.5vh;
}

.col-1 {
    height: 10vh;
}

.col-1_and_half {
    height: 13vh;
}

.col-2 {
    height: 20vh;
}

.col-2-half {
    height: 25vh;
}

.col-3 {
    height: 30vh;
}

.col-3 {
    height: 30vh;
}

.bottom_row>.button {
    height: 17vh;
    font-size: 6vw;
}

.col-lg-header {
    height: 20vh;
    background-image: url("/images/header_360.png");
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: cover;*/
    /*background-height: 15vh;*/
}

.col-lg-header-render {
    height: 15vh;
    background-image: url("/images/new_small_header.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*background-size: cover;*/
    /*background-height: 15vh;*/
}

.col-4 {
    height: 40vh;
    font-size: 6vw;
}

.col-4>#love {
    margin-top: .75em;
}

.col-5 {
    height: 50vh;
}
/*
.col-5 input {
    margin: auto;
    width: 90%;
}*/

.col-5 h3 {
    margin:auto;
    width: 90%;
}

.col-5>.scanIt {
    margin-top: 2em;
    height: 25vh;
    font-size: 10vw;
    vertical-align: middle;

}


.col-6 {
    height: 60vh;
}

.col-7 {
    height: 70vh;
    overflow: scroll;
}

.col-8 {
    height: 80vh;
}

.col-9 {
    height: 90vh;
}

.col-10 {
    height: 100vh;
    overflow: scroll;
}

#pageDisplay + .icon-bar {
    position: fixed;
    bottom: 0px;
}

ul .button {
    margin: auto;
    margin-left: 15%;
    margin-top: 7.5vh;
    height: 10vh;
    width: 20vh;
}

.scanner {
    font-size: 40vw;
}

/*Atomic Colors*/
.bg_cream {
    background-color: #fff8dd;
}

.bg_picture {
    background-image: url('/images/pretty_background.png');
}

.bg_purple {
    background-color: #580a31;
}


.bg_white {
    background-color: #fff8dd;
}

.text_white {
    color: #fff8dd;
}

.text_red1 {
    color: #be0000;
}

.radius {
    width: 100;
}

.sidebarfield {
    box-sizing: border-box;
    border-bottom: 1px solid #cfc39b;
}

.sidebarText {
    color: #dee1f0;
    font-size: 1.5em;
}

.wine_search_box {
    margin-top: .5em;
    margin-bottom: 15px;
    box-sizing: border-box;
    outline: 1.5px solid #5d0234;
}

/**{
    border: 1px dotted red;
}*/

.wine_search_box > h3 {
    display: inline-block;
    vertical-align: middle;
    color: #be0000;
}

ul > li {
    box-sizing: border-box;
    /*outline: 1px solid black;*/
    min-height: 100%;
}

.scan {
    background-image: url('/images/barcode_360.png');
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
}

.scan>p {

}

.recommend {
    background-image: url('/images/layer_32_360.png');
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
}

.search {
    background-image: url('/images/search_360.png');
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
    /*background-position: 0em .25em;*/

}

.taste {
    background-image: url('/images/chart_360.png');
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
}

.overflow_hidden {
    overflow: hidden;
}

.overflow_scroll {
    overflow: scroll;
}

.borderwine{
    margin-top: 7%;
    position: relative;
    box-sizing: border-box;
    outline: 2px solid #5d0234;
}

.borderwine > h2 {
   position: absolute;
   top: 40%;
}

.recWine {
    position: relative;
    box-sizing: border-box;
    outline: 2px solid #5d0234;
}

.recWine > p {
    position: absolute;
    top: 30%;
}

.buttonpush{
margin-top: 50px;

}
.questions {
 margin-top: 50px;
 margin-bottom:75px ;

}

.home_background{
  background-color: #5d0234;
}

#over {
    font-size: 2em;
    text-align: center;
    background-color: black;
    width: 100%;
    color: white;
    position: absolute;
    top: 250px;
    z-index: 2;
}

.logout_button {
    background-image: url('/images/logout_360.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    top: -40px;
}

.history_button {
    background-image: url('/images/history_360.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    top: -40px;
}

.top_row_text {
    position: relative;
    top: -20px;
}

.bottom_row_text {
    position: relative;
    top: 0px;
}

.span_search {
    position: relative;
    left: -50px;
}

.span_scan {
    position: relative;
    left: 50px;
}

.span_rec {
    position: relative;
    left: 50px;
}

.span_profile {
    position: relative;
    left: -70px;
}


.push_down {
    margin-top: 2em;
}

.chart_headers {
    font-weight: bolder;
    font-family: PT seif;
    text-align: center;
}
.chart_headers_top {
    font-weight: bolder;
    font-family: PT seif;
    text-align: center;
    margin-top: 10px;
}
.chart_header_top_final {
    font-weight: bolder;
    font-family: PT seif;
    text-align: center;
    margin-top: 12px;
}

/*#recExitButton {
    position: relative;
    left: -1.5em;
*/
/*}*/

#search_bar {
   margin-top: 4vh;
   height: 75px;
}

.final_done_bn {
 margin-top: 200px;
}

.plain_text_header {
    font-weight: bolder;
    font-family: PT seif;
    text-align: center;
    margin-top: 10px;
}

#mike {
    background-image: url('/images/profile-mike.png');
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
    border-radius: 180px;
}

#shawn {
    background-image: url('/images/profile-shawn.jpeg');
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
    border-radius: 180px;
}


#paul {
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
    background-image: url('/images/profile-paul.png');
    border-radius: 180px;
}

#roz {
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
    border-radius: 180px;
    background-image: url('/images/profile-roz.jpeg');
}

.plain_text_p {
/*    font-weight: bolder;*/
    margin-top: 10px;
    font-family: PT seif;
    text-align: center;
}

.page_headers {
    font-weight: bolder;
    font-family: PT seif;
    text-align: center;
    margin-top: 15px;
}

.search_padder {
padding-top: 10px;
overflow: hidden;
padding-bottom: 10px

}

.search_result_text{
    font-weight: bolder;
    font-family: PT seif;
    text-align: left;
    margin-top: 15px;
}

.history_wine {
font-family: PT seif;
text-align: center;
color: #be0000;
}

.history_wine_spec {
font-family: PT seif;
text-align: center;
color: #5d0234;
}

.recco_wine {
font-family: PT seif;
color: #be0000;
text-align: center;
}

.recco_wine_spec {
font-family: PT seif;
color: #5d0234;
text-align: center
}

.recco_img {
    margin-left: 29%;
    margin-top: 7%;
}

.rate_img {
    margin-left: 33%;
    margin-top: 7%;
}

.rate_result_text{
    font-weight: bolder;
    font-family: PT seif;
    text-align: center;
    margin-top: 15px;

}

.textDecoration {
    text-decoration: none;
}

#faces {
    margin-top: -1em;
}

#login_items1 {
   margin-top: 2vh;
   height: 60px;
}

#login_items2 {
   margin-top: 2vh;
   height: 60px;
}

#register_items1 {
   margin-top: 2vh;
   height: 60px;
}

#register_items2 {
   margin-top: 2vh;
   height: 60px;
}

#facebook_img {
   margin-top: 1vh;
   height: 60px;
   width: 1500px;
   margin-bottom: 1vh;
}
