<template name='aboutUs'>
  <row>
    <div class='full-length columns small-12 home_background'>
      <ul class='small-block-grid-2 col-3 '>
        <li id='mike' class='text-center'></li>
        <li id='roz' class='text-center'></li>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mike Cerrone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Rosslyn Sinclair-Chin</div>
        <li id='shawn' class='text-center'></li>
        <li id='paul' class='text-center'></li>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shawn Watson &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Paul Etscheit</div>
      </ul>
    </div>
  </row>
</template>

