<template name='aboutUs'>
  <row>
    <div id='faces' class='full-length columns small-12 home_background'>
      <ul class='small-block-grid-2 col-4'>
        <li id='mike' class='text-center'></li>
        <li id='roz' class='text-center'></li>
      </ul>
      <p><span class='span_rec left'>Mike Cerrone</span></p>
      <il>
        <li id='shawn' class='text-center'></li>
        <li id='paul' class='text-center'></li>
      </ul>
      <span class='span_profile right'>Rosslyn Sinclair-Chin</span></p>
    </div>
       
  </row>

<!--   <row class=''>

      <div class='col-1half column small-12 bg_purple'>
      </div>

  </row>

  <row>

      <div class='col-3 columns small-12 bg_purple'>

        <ul class='small-block-grid-2 col-3 bottom-row-buttons'>
        </ul>

      </div>

      <div class='bottom_row_text text_white bg_purple'>

        <p><span class='span_rec left'>Shawn Watson</span> <span class='span_profile right'>Paul Etscheit</span></p>

      </div>

    </row> -->
  </template>
