<template name='aboutUs'>
  <row>
    <div class='full-length columns small-12 home_background'>
      <ul class='small-block-grid-2 col-3 '>
        <li id='mike' class='text-center'></li>
        <li id='roz' class='text-center'></li>
        <div> <p>Mike Cerrone               Rosslyn Sinclair-Chin</p></div>
        <li id='shawn' class='text-center'></li>
        <li id='paul' class='text-center'></li>
        <div> <p>Shawn Watson           Paul Etscheit</p></div>
      </ul>
    </div>
  </row>
</template>
