  <template name="signUp">
      <h2>Signup</h2>
      <form>
        <input type="email" name="signupEmail" placeholder="Email">
        <input type="password" name="signupPassword" placeholder="Password">
        <button type="submit" class='button expand'>Register</button>
      </form>
    </template>

    <template name="logIn">
      <h2>Log in</h2>
      <form>
        <input type="email" name="loginEmail" placeholder="Email">
        <input type="password" name="loginPassword" placeholder="Password">
        <button type="submit" class='button expand'>Log In</button>
      </form>
    </template>
    
    <template name='accountBox'>
          <row>
            <div class='col-3 columns small-6 bg_purple'>
              <button id='signUp' class='button expand radial'>Register</button>
            </div>
            <div class='col-3 columns small-6 bg_purple'>
              <button id='logIn' class='button expand radial'>Login</button>
            </div>
          </row>
    </template>