  <template name="signUp">
      <form>
        <input id="register_items1" type="email" name="signupEmail" placeholder="Email">
        <input id="register_items2" type="password" name="signupPassword" placeholder="Password">
        <br>
        <button type="submit" class='button expand'>Register</button>
      </form>
    </template>

    <template name="logIn">
      {{> flashMessages}}


      <form>
        <input id="login_items1" type="email" name="loginEmail" placeholder="Email">
        <input id="login_items2" type="password" name="loginPassword" placeholder="Password">
        <br>
        <button type="submit" class='button expand'>Log In</button>
      </form>
    </template>

    <template name='accountBox'>
          <row>
            <div class='col-3 columns small-6 bg_purple'>
              <button id='signUp' class='button expand radial'>Register</button>
            </div>
            <div class='col-3 columns small-6 bg_purple'>
              <button id='logIn' class='button expand radial'>Login</button>
            </div>
          </row>
    </template>