<template name="wineHistory">
  <row id='naturalScrolling'>
    <div class='overflow_scroll full-length columns small-12 bg_cream'>
      <h1 class='text_red1 page_headers' >Wine History</h1>
      <p class='plain_text_p'>Your journey through wine</p>

      <canvas id="histChart" width="350 " height="400"></canvas>
      <div id="js-legend" class="chart-legend"></div>
      <br>
      <hr>

      {{#if Template.subscriptionsReady}}
        {{#each history}}
          <div class="wineLog {{wine.name}}">
            <h3 class= "history_wine" > {{wine.name}} </h3>
            <!-- <img src="{{wine.img}}"> -->
            <ul>
              <li class='history_wine_spec'>Varietal - {{wine.varietal}}</li>
              <li class='history_wine_spec'>Rating - {{wine.rating}}</li>
            </ul>
          </div>
        {{/each}}
      {{else}}
        <p>Something's not right</p>
      {{/if}}
    </div>
  </row>
</template>

