<template name="recWine">
  <row>
    <div class='full-length columns small-12 bg_picture'>

      <div class='col-1 columns small-1 push_down'></div>
      <div class= "col-6 columns small-10 bg_cream recBox push_down">
        <p>{{wine.name}}</p>
        <p>{{wine.varietal}}</p>
      </div>
      <!-- <div class='col-1 columns small-1 push_down'></div> -->
      <div class='col-3 columns small-12 push_down'>
        <button id='recExitButton' class='button'>Back</button>
      </div>
    </div>
  </row>
</template>

