<template name="recWine">
  <row>
    <div class='full-length columns small-12 bg_picture'>

      <div class='col-1 columns small-1 push_down'></div>
      <div class= "col-6 columns small-10 bg_cream recBox push_down">
        <img class='recco_img' src= {{wine.img}} alt="Wine Pic" align="middle" height="120" width="120">
        <br>
        <br>
        <h1 class='recco_wine' >{{wine.name}}</h1>
        <hr>
        <h3 class='recco_wine_spec' >{{wine.varietal}}</h3>
        <h3 class='recco_wine_spec'>{{wine.region}}</h3>
        {{#if wine.rating}}
        <h3 class='recco_wine_spec'> Rating: {{wine.rating}}</h3>
        {{else}}
           <h3></h3>
         {{/if}}
      </div>
      <div class='col-3 columns small-12 push_down'>
        <button id='recExitButton' class='button'>Back</button>
      </div>
    </div>
  </row>
</template>

