<template name='searchSelection'>
    <row>
        <div class='col-10 columns small-12 bg_cream'>
            <h1>Narrowing Down your Search...</h1>            
            {{#each wines}}
            <div class='col-2 small-9 columns bg_purple text-white wine_search_box'>
                <p>{{name}}</p>
            </div>
            <div class='col-2 small-3 columns bg_purple text-white wine_search_box'>
                <p>pic here</p>
            </div>
            {{/each}}

        </div>
    </row>
</template>