<template name='tasteProfile'>
  <row id='naturalScrolling'>
    <div class='full-length overflow_scroll columns small-12 bg_cream'>
      <h1 class='text_red1 chart_headers_top'>Taste Profile</h1>
      <p class='plain_text_p'>The flavors that you prefer</p>
      <canvas id="myChart" width="350" height="400"></canvas>
      <br>
      <hr>
      <h1 class='text_red1 chart_headers' >History</h1>
      <p class='plain_text_p'>flavors you prefer along with flavors of wine you ahve been drinking</p>
      <canvas id="myRadarChart" width="350 " height="400"></canvas>
       <hr>
      <h1  class='text_red1 chart_headers'>Preferred Varietals</h1>
      <p class='plain_text_p'>What varitals you prefer based on your taste profile</p>
      <ul>
      {{#each varietalPercentage}}
        <li>
          {{varietal}} - {{percentage}}%
        </li>
      {{/each}}
      </ul>
    </div>
  </row>
</template>
