<template name='tasteProfile'>
  <row id='naturalScrolling'>
    <div class='full-length overflow_scroll columns small-12 bg_cream'>
      <h1 class='text_red1 chart_headers_top'>Taste Profile</h1>
      <p class='plain_text_p'>We've calculated your preferred flavours based on what you've told us about your experiences.</p>
      <canvas id="myChart" width="350" height="400"></canvas>
      <br>
      <hr>
      <h1 class='text_red1 chart_headers' >Wine Choice Analysis</h1>
      <p class='plain_text_p'>We charted the wines you've logged and overlayed your personal taste profile</p>
      <canvas id="myRadarChart" width="350 " height="400"></canvas>
       <hr>
      <h1  class='text_red1 chart_headers'>Preferred Varietals</h1>
      <p class='plain_text_p'>Our calculations about your taste preferences lead us to believe that you might enjoy these varietals</p>
      <canvas id="histChart" width="350 " height="400"></canvas>
      <div id="js-legend" class="chart-legend"></div>
      <ul>
      {{#each varietalPercentage}}
        <li class="textDecoration">
          {{varietal}} - {{percentage}}%
        </li>
      {{/each}}
      </ul>
    </div>
  </row>
</template>

