<template name='rateWine'>
<row>
  <div class='center_row columns small-12 bg_cream'>
    <h1>You Just Scanned...</h1>
    <h3> {{name}}</h3>
    <p>It is... {{type}}</p>
    <img src="{{url}}">
  </div>
</row>
<row>
  <div class='bottom_row columns small-6 bg_purple'>
    <button id='love' class='button'>Disliked It</button>
  </div>
  <div class='bottom_row columns small-6 bg_purple'>
    <button id='like' class='button'>Liked It</button>
  </div>
</row>
<row>
  <div class='bottom_row columns small-6 bg_purple'>
    <button id='dislike' class='button'>Loved It</button>
  </div>
  <div class='bottom_row columns small-6 bg_purple'>
  </div>
</row>
</template>