<template name='notFound'>
<row>
    <div class='col-2 columns small-12 bg_purple'>
        <h3 class='text_white'>Camera or Wine not found...</h3>
    </div>
</row>
<row>
    <div class='col-5 columns small-1 bg_cream'>
    </div>
    <div class='col-5 columns small-10 bg_cream'>
        <h3>Search by name:</h3>
        <input type="text" placeholder="Enter Wine Name" />
    </div>
    <div class='col-5 columns small-1 bg_cream'>
    </div>
</row>
<row>
    <div class='col-3 columns small-12 bg_purple'>
        <button id='manualSearch' class='button expand'>Search</button>
    </div>
</row>

</template>