<template name='wineQuestions'>
  <row>
    <div class='col-7 columns small-12 bg_cream'>
      <h1>Questions:</h1>
      <h3>Question 1:</h3>
      <div class="range-slider" data-slider data-options="start: -5; end: 5;">
        <span class="range-slider-handle" role="slider" tabindex="0"></span>
        <span class="range-slider-active-segment"></span>
        <input type="hidden">
      </div>
      <h3>Question 2:</h3>
      <div class="range-slider" data-slider data-options="start: -5; end: 5;">
        <span class="range-slider-handle" role="slider" tabindex="0"></span>
        <span class="range-slider-active-segment"></span>
        <input type="hidden">
      </div>
    </div>
  </row>
  <row>
    <div class='col-3 columns small-12 bg_purple'>
      <button class='button expand'>Submit!</button>
    </div>
  </row>
</template>