<template name='wineQuestions'>
  <row>
    <div class='full-length columns small-12 bg_cream'>
      <h1>Questions:</h1>
      <div class= "questions">
      <h3>{{q1}}</h3>
      <div class="range-slider" data-slider data-options="start: -5; end: 5;">
        <span class="range-slider-handle" role="slider" tabindex="0"></span>
        <span class="range-slider-active-segment"></span>
        <input type="hidden">
        </div>
      </div>
      <div class= 'questions'>
      <h3>{{q2}}</h3>
      <div class="range-slider" data-slider data-options="start: -5; end: 5;">
        <span class="range-slider-handle" role="slider" tabindex="0"></span>
        <span class="range-slider-active-segment"></span>
        <input type="hidden">
        </div>
      </div>


      <button class='button expand radial'>Submit</button>
    </div>
  </row>
</template>